<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img{
            width: 450px;
            height: 350px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
        p,h2{
            text-align: center;
            margin: 50px 0;
        }
        h2{
            text-decoration: underline solid;
        }
        body{
            margin-top: 40px;
        }
    </style>
</head>
<body>
    <h2>Thank you For Your Appointment</h2>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBGy8JsM39Lk8YaoFwuaG1BT78KNNRBWwc3NRm_sHr2g&usqp=CAU&ec=48600112" alt="">
<p>your appointment is Received Time and Date Will be informed as soon as possible</p>
</body>
</html>